.note {
  border-radius: 100%;
  background-color: black;
  z-index: 20;
  width: 20px;
  padding: 5px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
